
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--font-color, #F1B2CE);
  font-family: var(--main-font-family, san-serif);
  font-weight: 400;
  font-size: var(--fz18px, 18px);
  line-height: 1.3;
  background-color: var(--main-background-color, #00183F);
}

.container {
  padding: 10px;
}

.section-title {
  color: var(--accents-color, #FF0070);
  font-family: var(--main-font-family, san-serif);
  font-weight: 700;
  font-size: var(--fz18px, 18px);
  line-height: 1.3;
}

.seсtion-subtext {
  margin-block-start: 20px;
  color: #000028;
  font-weight: 700;
  font-size: var(--fz18px);
  line-height: 1.3;
  background-color: var(--accents-color, #FF0070);
}

.accent__subtext {
  color: var(--accent-font-color, #000028);
  font-weight: 700;
  font-size: var(--fz18px);
  line-height: 1.3;
  background-color: var(--accents-color, #FF0070);
  align-self: start;
}

/*CARD*/
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 20px;
}

.card__title {
  color: var(--accent-font-color);
  font-family: var(--main-font-family, san-serif);
  font-weight: 700;
  font-size: var(--fz18px, 18px);
  line-height: 1.3;
  background-color: var(--accents-color);
}

.card__link {
  border-block-end: 1px solid var(--font-color, #F1B2CE);
  color: var(--font-color, #F1B2CE);
  font-family: var(--main-font-family, san-serif);
  font-weight: 400;
  font-size: var(--fz18px, 18px);
  line-height: 1.3;
  text-shadow: 2px 1px 0px var(--accents-color,#FF0070);
}

.image {
  padding-block-end: 43px;
}

.image__collection {
  display: grid;
  grid-auto-rows: max-content;
  gap: 10px;
}

.image__title {
  margin-block-end: 11px;
  color: var(--accent-font-color, #000028);
  font-family: var(--main-font-family, san-serif);
  font-weight: 700;
  font-size: var(--fz18px, 18px);
  line-height: 1.3;
  background-color: var(--accents-color, #FF0070);
}

.image__item {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/*HEADER*/

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  min-height: 100vh;
}

.header__theme-menu {
  align-self: start;
  justify-self: end;
  padding-block-start: 65px;
  padding-block-end: 65px;
}

.header__decorated-rec-element {
  position: absolute;
  inset: 0 0 auto auto;
  padding: 9px 38px 0 0;
  color: var(--accents-color);
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: var(--fz18px);
  line-height: 1.38;
  text-transform: uppercase;
}

.header__decorated-rec-element::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accents-color);
  filter: drop-shadow(0px 0px 4px #FF0070);
  inset-inline-end: 19px;
  inset-block-start: 16px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  margin-inline-start: auto;
  border-inline-end: 1px solid var(--accents-color, #FF0070);
  border-block-start: 1px solid var(--accents-color, #FF0070);
  inset-block-start: 8px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  margin-inline-end: auto;
  border-inline-start: 1px solid var(--accents-color, #FF0070);
  border-block-end: 1px solid var(--accents-color, #FF0070);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}


.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 13px;
  outline: none;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  transition: border var(--trasition-duration);
}

.header__theme-menu-button_active {
  border: 1px solid #FF0070;
}

.big-title {
  color: var(--title-font-color, #DB00FF);
  font-family: var(--main-font-family, san-serif);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825em;
  text-shadow: 4px 4px 0px #FF0070;
  padding-block-end: 55px;
}

.control-grid {
  display: grid;
  grid-template-rows: repeat(5, autofit);

}

.concetration {
  padding-block-start: 42px;
  padding-block-end: 51px;
}

.recommendations {
  padding-block-end: 48px;
}

.food {
  padding-block-end: 51px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh; /*Ставишь 100 - последний декоративный элемент уплывает*/
}

/*==========================================================================*/
/*==========================================================================*/
/*==========================================================================*/

@media (width >= 768px) {
  .container {
    padding: 20px;
  }

  .header {
    margin-block-end: 72px;
  }
  
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
  }

  .header__decorated-rec-element {
    padding: 20px 48px 0 0;
  }

  .header__decorated-rec-element::after {
    inset-inline-end: 29px;
    inset-block-start: 28px;
  }

  .header__theme-menu {
    padding: 172px 0;
  }

  .big-title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-block-end: 0;
  }

  .accent__subtext {
    max-width: 364px;
    margin: 163px 0;
    justify-self: end;
  }

  .concetration {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: max-content;
    gap: 20px;
    margin-block-end: 80px;
  }

  .concetration h2 {
    grid-row: 1 / span 2;
    max-width: 236px;
  }

  .concetration .card {
    padding-block-start: 0;
  }

  .food .section-title {
    max-width: 236px;
  }

  .food {
    margin-block-end: 80px;
  }

  .recommendations {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: max-content;
    gap: 20px;
    margin-block-end: 80px;
  }
  
  .recommendations h2 {
    grid-row: 1 / span 6;
    max-width: 236px;
  }

  .recommendations .seсtion-subtext {
    margin-block-start: 0;
  }

  .recommendations .seсtion-subtext {
    padding-block-start: 0;
  }

  .recommendations .card {
    padding-block-start: 0px;
  }

  .image__collection {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin-block-end: 62px;
  }

  .image__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image__title {
    margin-block-end: 19px;
  }

  .image__item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-size: cover;
  }

  .image__item:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    }

  .image__item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-size: cover;
  }

  .image__item:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-size: cover;
  }

  .footer .big-title {
    margin-inline-start: 0;
    margin-block-start: 11px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
  }
}

/*==========================================================================*/
/*==========================================================================*/
/*==========================================================================*/
@media (width >= 1024px) {
  .header__theme-menu {
    padding: 0;
    justify-self: center;
  }

  .big-title {
    padding-block-start: 274px;
  }

  .accent__subtext {
    max-width: 491px;
    margin: 113px 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .concetration h2 {
    max-width: 314px;
  }

  .food .section-title {
    max-width: 314px;
  }

  .food .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .recommendations h2 {
    max-width: 315px;
  }

  .footer .big-title {
    margin-block-start: 0;
    padding-block-start: 0px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
  }
}