
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--font-color, #F1B2CE);
  font-family: var(--main-font-family, san-serif);
  font-weight: 400;
  font-size: var(--fz18px, 18px);
  line-height: 1.3;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--main-background-color, #00183F);
}

.container {
  padding: 0 10px 0;
}

.section-title {
  color: var(--accents-color, #FF0070);
  font-family: var(--main-font-family, san-serif);
  font-weight: 700;
  font-size: var(--fz18px, 18px);
  line-height: 1.3;
}

.seсtion-subtext {
  display: block;
  padding-block-start: 20px;
}

.accent__subtext {
  margin-block-start: 54px;
  margin-block-end: 17px;
  color: var(--accent-font-color, #000028);
  font-weight: 700;
  font-size: var(--fz18px);
  line-height: 1.3;
  background-color: var(--accents-color, #FF0070);
}

/*CARD*/
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 20px;
}

.card__title {
  color: var(--accent-font-color);
  font-family: var(--main-font-family, san-serif);
  font-weight: 700;
  font-size: var(--fz18px, 18px);
  line-height: 1.3;
  background-color: var(--accents-color);
}

.card__link {
  border-block-end: 1px solid var(--font-color, #F1B2CE);
  color: var(--font-color, #F1B2CE);
  font-family: var(--main-font-family, san-serif);
  font-weight: 400;
  font-size: var(--fz18px, 18px);
  line-height: 1.3;
  text-shadow: 2px 1px 0px var(--accents-color,#FF0070);
}

.image {
  padding-block-end: 43px;
}

.image__collection {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 10px;
}

.image__title {
  margin-block-end: 11px;
  color: var(--accent-font-color, #000028);
  font-family: var(--main-font-family, san-serif);
  font-weight: 700;
  font-size: var(--fz18px, 18px);
  line-height: 1.3;
  background-color: var(--accents-color, #FF0070);
}

.image__item {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/*HEADER*/

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-block-start: 10px;
  padding-block-end: 48px;
}

.header__theme-menu {
  margin: 60px 0 68px auto;
}

.header__decorated-rec-element {
  position: absolute;
  inset: 0 0 auto auto;
  padding: 9px 38px 0 0;
  color: var(--accents-color);
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: var(--fz18px);
  line-height: 1.38;
  text-transform: uppercase;
}

.header__decorated-rec-element::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accents-color);
  filter: drop-shadow(0px 0px 4px #FF0070);
  inset-inline-end: 19px;
  inset-block-start: 16px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: 10px;
  width: 25px;
  height: 25px;
  margin-inline-start: auto;
  border-inline-end: 1px solid var(--accents-color, #FF0070);
  border-block-start: 1px solid var(--accents-color, #FF0070);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-block-end: 8px;
  inset-inline-start: 10px;
  width: 25px;
  height: 25px;
  margin-inline-end: auto;
  border-inline-start: 1px solid var(--accents-color, #FF0070);
  border-block-end: 1px solid var(--accents-color, #FF0070);
}


.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 13px;
  outline: none;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  transition: border var(--trasition-duration);
}

.header__theme-menu-button_active {
  border: 1px solid #FF0070;
}

.big-title {
  color: var(--title-font-color, #DB00FF);
  font-family: var(--main-font-family, san-serif);
  font-weight: 700;
  font-size: var(--fz116px, 116px);
  line-height: 0.825em;
  text-shadow: 4px 4px 0px #FF0070;
}

.control-grid {
  display: grid;
  grid-template-rows: repeat(5, autofit);

}

.concetration {
  padding-block-start: 42px;
  padding-block-end: 51px;
}

.recommendations {
  padding-block-end: 48px;
}

.food {
  padding-block-end: 51px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh; /*Ставишь 100 - последний декоративный элемент уплывает*/
}

@media (width >= 768px) {
  .container {
    padding: 0 20px 0;
  }

  .header {
    margin-block-end: 72px;
  }
  
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
  }

  .header__decorated-rec-element {
    padding: 20px 48px 0 0;
  }

  .header__decorated-rec-element::after {
    inset-inline-end: 29px;
    inset-block-start: 28px;
  }

  .header__theme-menu {
    margin: 189px 0 177px auto;
  }

  .big-title {
    font-size: var(--fz120px);
    margin-inline-start: -20px;
  }

  .accent__subtext {
    max-width: 364px;
    margin-inline-start: auto;
    margin-block-start: 160px;
    margin-block-end: 172px;
  }

  .concetration {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-block-end: 80px;
  }

  .concetration h2 {
    max-width: 236px;
    grid-row: 1 / span 2;
  }

  .concetration .card {
    padding-block-start: 0;
  }

  .food .section-title {
    max-width: 236px;
  }

}