/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-light-color: #FF0070;
  --accent-dark-color: #000028;

  /*============================================================*/
  --main-font-family: 'IBM Plex mono';
  --fz18px: 1.125rem;
  --fz116px: 7.25rem;
  --fz120px: 7.50rem;
  --fz157px: 9.81rem;

  --transition-duration: .3s;
}